.productListWrapper .MuiTypography-h1 {
    color: #414141;
    position: relative;
    font-size: 36px;
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 45px;
    letter-spacing: 0px;
    padding-bottom: 18px;
}
.productListWrapper .MuiTypography-h1:after {
    left: 50%;
    width: 165px;
    bottom: 0;
    height: 2px;
    content: '';
    position: absolute;
    transform: translateX(-50%);
    background-color: #f14d54;
}
.productListWrapper .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productListWrapper .title-wrapper .MuiTypography-h2 {
    margin: 0;
    padding: 0;
}
.productListWrapper .title-wrapper .MuiTypography-h2 {
    color: #414141;
    position: relative;
    font-size: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 16px;
    letter-spacing: 0px;
    padding-bottom: 15px;
}
.productListWrapper .title-wrapper .dropdown-wrapper .MuiFormControl-root {
    flex: 0 0 270px;
    display: flex;
    max-width: 270px;
    align-items: center;
    margin-left: auto;
    flex-direction: inherit;
    justify-content: flex-end;
}
.productListWrapper .dropdown-wrapper .MuiInputBase-input.small {
    border: 1px solid #d5d5d5;
    height: 40px;
    line-height: 40px;
    border-radius: 0;
}
.productListWrapper .product-list-wrapper {
    margin-top: 30px;
}
.productListWrapper .product-list-wrapper .product-list-inner-wrapper {
    margin: 0 -15px -30px;
    display: flex;
    flex-wrap: wrap;
}
.productListWrapper .product-list-wrapper .product-list-inner-wrapper .product-list {
    flex: 0 0 25%;
    padding: 0 15px;
    max-width: 25%;
    margin-bottom: 30px;
}
.productListWrapper .product-list-wrapper .product-list-inner-wrapper .product-list .product-list-inner {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
}
.productListWrapper .product-list-wrapper .product-list-inner-wrapper .product-list em {
    display: block;
    position: relative;
    border-radius: 10px 10px 0 0;
    padding-bottom: 82.8%;
}
.productListWrapper .product-list-wrapper .product-list-inner-wrapper .product-list .image {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.productListWrapper .product-list-wrapper .product-list-inner-wrapper .product-list em img {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.productListWrapper .product-list-wrapper .product-list-inner-wrapper .product-list .content-wrapper {
    padding: 20px 15px;
}
.productListWrapper .product-list-wrapper .product-list-inner-wrapper .product-list .content-wrapper h3 {
    height: 27px;
    display: -webkit-box;
    overflow: hidden;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 2px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.productListWrapper .product-list-wrapper .product-list-inner-wrapper .product-list .content-wrapper .category {
    color: #838383;
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}
.productListWrapper .product-list-wrapper .product-list-inner-wrapper .product-list .content-wrapper .description {
    height: 40px;
    display: -webkit-box;
    overflow: hidden;
    font-size: 16px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.productListWrapper .product-list-wrapper .product-list-inner-wrapper .product-list .content-wrapper .price {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 700;
}
.productListWrapper .product-list-wrapper .product-list-inner-wrapper .product-list .content-wrapper .price .discount-price {
    color: #838383;
    display: block;
    
    font-weight: 400;
}
.productListWrapper .product-list-wrapper .product-list-inner-wrapper .product-list .content-wrapper .btn.pink-btn {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 6px;
}
.productListWrapper .product-list-wrapper .product-list-inner-wrapper .product-list .content-wrapper .MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
.productListWrapper .product-list-wrapper .product-list-inner-wrapper .product-list .content-wrapper .MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}
.productListWrapper .product-list-wrapper .pagination-wrapper {
    margin-top: 40px;
    content: center;
    background-color: #f14d54;
    color: #fff;
}


