.editWrapper {
    padding: 42px 0 80px;
}

.editWrapper .MuiTypography-h1 {
    color: #414141;
    position: relative;
    font-size: 36px;
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 45px;
    letter-spacing: 0px;
    padding-bottom: 18px;
}
.editWrapper .MuiTypography-h1:after {
    left: 50%;
    width: 165px;
    bottom: 0;
    height: 2px;
    content: '';
    position: absolute;
    transform: translateX(-50%);
    background-color: #f14d54;
}

.editWrapper .btn-wrapper .btn {
    height: 40px;
    font-size: 16px;
    min-width: 50px;
    line-height: 40px;
    border-radius: 4px;
    text-transform: none;
    width: 50px;
}
.editWrapper .btn-wrapper .btn.green-btn {
    background-color: #80bf32;
    color: #fff;
    width: 50;
}
.editWrapper .btn-wrapper .btn+.btn {
    margin-left: 10px;
}
.editWrapper .btn-wrapper .btn {
    height: 40px;
    font-size: 16px;
    min-width: 100px;
    line-height: 40px;
    border-radius: 4px;
    text-transform: none;
}
.editWrapper .btn-wrapper .btn.pink-btn {
    background-color: #f14d54;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    height: 40px;
    line-height: 47px;
    padding: 0 29px;
    text-transform: none;
}

