.editWrapper {
    padding: 42px 0 80px;
}
.container {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 50px;
    width: 100%;
}
.editWrapper .MuiTypography-h1 {
    color: #414141;
    position: relative;
    font-size: 36px;
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 45px;
    letter-spacing: 0px;
    padding-bottom: 18px;
}
.editWrapper .MuiTypography-h1:after {
    left: 50%;
    width: 165px;
    bottom: 0;
    height: 2px;
    content: '';
    position: absolute;
    transform: translateX(-50%);
    background-color: #f14d54;
}
.editWrapper .form-row-wrapper {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}
.editWrapper .form-row-wrapper .form-col {
    flex: 0 0 50%;
    padding: 0 15px;
    position: relative;
    max-width: 50%;
}
.MuiFormControl-fullWidth {
    width: 100%;
}
.editWrapper .form-row-wrapper .MuiInputBase-formControl {
    margin-bottom: 35px;
}
.MuiTextField-root .MuiOutlinedInput-notchedOutline {
    border: none;
}
.MuiInputBase-input.small {
    border: 1px solid #d5d5d5;
    height: 40px;
    line-height: 40px;
    border-radius: 0;
}
.editWrapper .form-row-wrapper .form-col .uploaded-file-name {
    padding-top: 28px;
    margin-bottom: 35px;
}
.editWrapper .form-row-wrapper .form-col .uploaded-file-name em {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}
img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.editWrapper .form-row-wrapper .form-col .uploaded-file-name span {
    color: #000;
    cursor: pointer;
    margin: -10px -10px -10px 0;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}
.editWrapper .form-row-wrapper .MuiOutlinedInput-multiline .MuiOutlinedInput-inputMultiline {
    border: 1px solid #d5d5d5;
    height: 80px !important;
    padding: 5px 15px !important;
    line-height: 1.2;
    border-radius: 0;
}
.editWrapper .btn-wrapper .btn {
    height: 40px;
    font-size: 16px;
    min-width: 50px;
    line-height: 40px;
    border-radius: 4px;
    text-transform: none;
    width: 50px;
}
.editWrapper .btn-wrappe .btn.green-btn {
    background-color: #80bf32;
    color: #fff;
    width: 50;
}
.editWrapper .btn-wrapper .btn+.btn {
    margin-left: 10px;
}
.editWrapper .btn-wrapper .btn {
    height: 40px;
    font-size: 16px;
    min-width: 100px;
    line-height: 40px;
    border-radius: 4px;
    text-transform: none;
}
.editWrapper .btn-wrappe .btn.pink-btn {
    background-color: #f14d54;
    border-radius: 2px;
    color: #fff;
    font-size: 20px;
    height: 47px;
    line-height: 47px;
    padding: 0 29px;
    text-transform: none;
}